{#
/**
 * @file
 * Template base file for our drowl layout template files.
 *
 * This template provides a base from which the other template files inherit
 * from.
 * Global classes and blocks are defined here.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.top: Special top region (full width).
 *   - content.bottom: Special bottom region (full width).
 *   - cell_x: Content of single cells.
 */
#}

{% set top_rendered = content.top|render %}
{% set bottom_rendered = content.bottom|render %}

{%
  set classes = [
    'layout',
    'layout--' ~ layout.id|clean_class,
    'row',
  ]
%}
{%
  set default_cell_classes = [
    'drowl-layout__region',
    'col',
  ]
%}

{% if content %}
  <div class="drowl-layout{% if attributes.hasClass('page-width') %} container{% endif %}">
    <div class="drowl-layout__inner{% if attributes.hasClass('viewport-width-cp') %} container{% endif %}">
      {% block layout_region_top %}
        {% if content['#drowl_layouts_bs_force_render'] or top_rendered is real_content %}
          <div {{ region_attributes.top.addClass('drowl-layout__region', 'drowl-layout__region--top') }}>
            {{ top_rendered }}
          </div>
        {% endif %}
      {% endblock layout_region_top %}
      {% block layout_columns %}
        <div{{ attributes.addClass(classes) }}>
          {% for region in layout.getRegionNames|filter(v => (v != 'top') and (v != 'bottom')) %}
            {% if content['#drowl_layouts_bs_force_render'] or region|render is real_content %}
              <div{{ region_attributes[region].addClass('drowl-layout__region', 'drowl-layout__region--' ~ region|clean_class, 'col') }}>
                {{ content[region] }}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endblock layout_columns %}
      {% block layout_region_bottom %}
        {% if content['#drowl_layouts_bs_force_render'] or bottom_rendered is real_content %}
          <div {{ region_attributes.bottom.addClass('drowl-layout__region', 'drowl-layout__region--bottom') }}>
              {{ bottom_rendered }}
          </div>
        {% endif %}
      {% endblock layout_region_bottom %}
    </div>
  </div>
{% endif %}
