@use "sass:math";
@import "../base";

// TODO: Preview styles for layouts, see if bootstrap has similar mixins.

// Add Foundation grid classes for the layout_paragraphs preview / form mode
// First add some vars we need to compile this without the full "foundation context"
$global-text-direction: ltr !default;
$global-left: if($global-text-direction ==rtl, right, left);
$global-right: if($global-text-direction ==rtl, left, right);
// We need to set $global-font-size to the global font size of the GIN theme -
// otherwise we got REM rounding errors
$global-font-size: 100%;

.drowl-layout {

  // Add min-height to regions - otherwise they arent hoverable because of 0px height
  // im some cases
  &__region {
    min-height: 40px !important;
  }
}
