{#
/**
 * @file
 * DROWL Layouts Card Compoenent Layout
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.media: Cards Video/Image
 *   - content.title: Cards Title
 *   - content.subline: Cards Subline
 *   - content.contents: Cards Contents, typically a teaser text
 *   - content.links: Cards Link-Section, typically used for a button
#}

{% set layout_variant = content['#settings']['layout_variant'] %}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set media_rendered = content.media|render %}
{% set title_rendered = content.title|render %}
{% set subline_rendered = content.subline|render %}
{% set contents_rendered = content.contents|render %}
{% set links_rendered = content.links|render %}

{%
  set card_classes = [
    'card',
    layout_variant ? ('card--' ~ layout_variant)|clean_class,
    'card--layout'
  ]
%}

{# Merge custom classes set by the user #}
{% if settings.extra_classes and settings.extra_classes|length > 1 %}
  {% set card_classes = card_classes|merge(settings.extra_classes|split(' ')) %}
{% endif %}

{%
  set title_classes = [
    'card-title',
    subline_rendered is real_content or content['#drowl_layouts_bs_force_render'] ? 'has-subline'
  ]
%}

{% block layout_outer %}
  <div {{ attributes.addClass(card_classes) }}>
    {% block layout_card_media %}
      {% if media_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
        <div {{ region_attributes.media.addClass('card-img') }}>
          {{ media_rendered }}
        </div>
      {% endif %}
    {% endblock layout_card_media %}
    {% block layout_card_content_outer %}
      <div class="{% if attributes.hasClass('card--card') %} card-body{% else %} card-img-overlay{% endif %}">
        {% block layout_card_content %}
          {% if title_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
            <div {{ region_attributes.title.addClass(title_classes) }}>
              {{ title_rendered }}
            </div>
          {% endif %}
          {% if subline_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
            <div {{ region_attributes.subline.addClass('card-subline', 'subline', 'field-container', 'field-container--inline') }}>
              {{ subline_rendered }}
            </div>
          {% endif %}
          {% if contents_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
            <div {{ region_attributes.contents.addClass('card-text') }}>
              {{ contents_rendered }}
            </div>
          {% endif %}
          {% if links_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
            <div {{ region_attributes.links.addClass('card-buttons') }}>
              {{ links_rendered }}
            </div>
          {% endif %}
        {% endblock layout_card_content %}
      </div>
    {% endblock layout_card_content_outer %}
  </div>
{% endblock layout_outer %}
