{#
/**
 * @file
 * DROWL Layouts Media-Object Compoenent Layout
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.media: Media Objects Video/Image
 *   - content.title: Media Objects Title
 *   - content.subline: Media Objects Subline
 *   - content.contents: Media Objects Contents, typically a teaser text
 *   - content.links: Media Objects Link-Section, typically used for a button
#}

{# Pre-render Regions to have a proper empty check (see https://www.drupal.org/project/twig_real_content) #}
{% set media_rendered = content.media|render %}
{% set title_rendered = content.title|render %}
{% set subline_rendered = content.subline|render %}
{% set contents_rendered = content.contents|render %}
{% set links_rendered = content.links|render %}

{%
  set media_object_classes = [
    'card',
    'card--layout',
    'card--media-object',
  ]
%}

{% set image_col_classes = ['col-md-4'] %}
{% set content_col_classes = ['col-md-8'] %}

{# Merge custom classes set by the user #}
{% if settings.extra_classes and settings.extra_classes|length > 1 %}
  {% set media_object_classes = media_object_classes|merge(settings.extra_classes|split(' ')) %}
{% endif %}

{%
  set title_classes = [
    'card-title',
    subline_rendered is real_content or content['#drowl_layouts_bs_force_render'] ? 'has-subline'
  ]
%}

{% block layout_outer %}
  <div {{ attributes.addClass(media_object_classes) }}>
    <div class="row g-0">
      {% block layout_media_object_media %}
        {% if media_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
          <div {{ region_attributes.media.addClass('card-image', image_col_classes) }}>
            {{ media_rendered }}
          </div>
        {% endif %}
      {% endblock layout_media_object_media %}
      <div class="{{ content_col_classes|join(' ') }}">
        <div class="card-body">
          {% block layout_media_object_content %}
            {% if title_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
              <div {{ region_attributes.title.addClass(title_classes) }}>
                {{ title_rendered }}
              </div>
            {% endif %}
            {% if subline_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
              <div {{ region_attributes.subline.addClass('card-subline', 'subline', 'field-container', 'field-container--inline') }}>
                {{ subline_rendered }}
              </div>
            {% endif %}
            {% if contents_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
              <div {{ region_attributes.contents.addClass('card-text') }}>
                {{ contents_rendered }}
              </div>
            {% endif %}
            {% if links_rendered is real_content or content['#drowl_layouts_bs_force_render'] %}
              <div {{ region_attributes.links.addClass('card-buttons') }}>
                {{ links_rendered }}
              </div>
            {% endif %}
          {% endblock layout_media_object_content %}
        </div>
      </div>
    </div>
  </div>
{% endblock layout_outer %}
