{# TODO: Remove, deprecated #}
<div class="form-item-value-preview {{ field_related|clean_class }}">
  <div class="layout-setting-preview layout-setting-preview--alignment">
    <div class="layout-setting-preview__row">
      <div class="layout-setting-preview__cell"></div>
      <div class="layout-setting-preview__cell"></div>
      <div class="layout-setting-preview__cell"></div>
    </div>
  </div>
</div>
