{# TODO: Remove, deprecated #}
<div class="form-item-value-preview {{ field_related|clean_class }}">
  <div class="layout-setting-preview layout-setting-preview--alignment">
    <div class="layout-setting-preview__img">
      <img src="{{ module_images_dir_url }}ico_remove_grid_gutter.svg">
    </div>
  </div>
</div>
