{#
/**
 * @file
 * Template for a 2 cell panel layout.
 *
 * This template provides a two cell panel display layout, with
 * each cell roughly equal in width.
 *
 * Variables:
 * - css_id: An optional CSS id to use for the layout.
 * - content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.title: The Entities Main-Title
 *   - content.subline: An optional subline, fields got inline style (example: a news date)
 *   - content.top: Region on top of the main content probably used for a teaser
 *   - content.main: Main content, shown on full page width, if content.aside is empty
 *   - content.aside: A "sidebar", placed next do content.main
 *   - content.main_full: Region right under content.main/aside, running on 100% viewport width (if not limited by a parent containers width).
 *   - content.bottom: The Entties Footer
 */
#}

{# TODO: Replace with Bootstrap markup + classes #}

{# Pre-Render Regions to have working empty check #}
{% set region_title_rendered = content.title|render %}
{% set region_subline_rendered = content.subline|render %}
{% set region_content_top_rendered = content.top|render %}
{% set region_main_rendered = content.main|render %}
{% set region_main_aside_rendered = content.main_aside|render %}
{% set region_main_full_rendered = content.main_full|render %}
{% set region_bottom_rendered = content.bottom|render %}

{% set header_attributes = create_attribute() %}
{%
  set header_classes = [
    'entity-layout__header',
    'mb-3',
    'container-lg'
  ]
%}

{% set title_classes = [
  'entity-layout__title',
  region_subline_rendered|striptags('<img>')|trim|length ? 'has-subline',
] %}

{% block layout %}
  <div {{ attributes.addClass('entity-layout', 'entity-layout--node-default') }}>
    {% if content['#drowl_layouts_bs_force_render'] or (region_title_rendered is real_content) or (region_subline_rendered is real_content) %}
      {% block header %}
        <header {{ header_attributes.addClass(header_classes) }}>
          {% if content['#drowl_layouts_bs_force_render'] or (region_title_rendered is real_content) %}
            <div {{ region_attributes.title.addClass(title_classes) }}>
              {{ region_title_rendered }}
            </div>
          {% endif %}
          {% if content['#drowl_layouts_bs_force_render'] or (region_subline_rendered is real_content) %}
            <div {{ region_attributes.subline.addClass('entity-layout__subline', 'subline', 'field-container', 'field-container--inline', 'mb-md') }}>
              {{ region_subline_rendered }}
            </div>
          {% endif %}
        </header>
      {% endblock header %}
    {% endif %}
    {% if content['#drowl_layouts_bs_force_render'] or (region_content_top_rendered is real_content) %}
      {% block content_top %}
        <div {{ region_attributes.top.addClass('entity-layout__top', 'field-container', 'container-lg') }}>
          {{ region_content_top_rendered }}
        </div>
      {% endblock content_top %}
    {% endif %}
    {% if content['#drowl_layouts_bs_force_render'] or ((region_main_rendered is real_content) and (region_main_aside_rendered is real_content)) %}
      {% block content %}
        <div class="container-lg">
          <div class="row">
            <div {{ region_attributes.main.addClass('entity-layout__main', 'field-container', 'col-lg-8') }}>
              {{ region_main_rendered }}
            </div>
            <aside {{ region_attributes.main_aside.addClass('entity-layout__aside', 'field-container', 'col-lg-4') }}>
              {{ region_main_aside_rendered }}
            </aside>
          </div>
        </div>
      {% endblock content %}
    {% elseif content['#drowl_layouts_bs_force_render'] or (region_main_rendered is real_content) %}
      {% block content_main_single %}
        <div {{ region_attributes.main.addClass('entity-layout__main', 'field-container', 'container-lg') }}>
          {{ region_main_rendered }}
        </div>
      {% endblock content_main_single %}
    {% elseif content['#drowl_layouts_bs_force_render'] or (region_main_aside_rendered is real_content) %}
      {% block content_main_aside_single %}
        <div {{ region_attributes.main_aside.addClass('entity-layout__aside', 'field-container', 'container-lg') }}>
          {{ region_main_aside_rendered }}
        </div>
      {% endblock content_main_aside_single %}
    {% endif %}
    {% if content['#drowl_layouts_bs_force_render'] or (region_main_full_rendered is real_content) %}
      {% block content_main_full %}
        <div {{ region_attributes.main_full.addClass('entity-layout__main-full', 'field-container', 'viewport-width') }}>
          {{ region_main_full_rendered }}
        </div>
      {% endblock content_main_full %}
    {% endif %}
    {% if content['#drowl_layouts_bs_force_render'] or (region_bottom_rendered is real_content) %}
      {% block content_bottom %}
        <div {{ region_attributes.bottom.addClass('entity-layout__bottom', 'field-container', 'container-lg', 'mt-4') }}>
          {{ region_bottom_rendered }}
        </div>
      {% endblock content_bottom %}
    {% endif %}
  </div>
{% endblock layout %}
